## Optimize the Model

In [1]:
# Import our dependencies:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv:
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [2]:
# Look at STATUS value counts:
application_df["STATUS"].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [3]:
# Look at SPECIAL_CONSIDERATIONS value counts:
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [4]:
# Drop the non-beneficial EIN column (and also STATUS and SPECIAL_CONSIDERATIONS since they have mostly one unique value each):
application_df.drop(['EIN', 'STATUS', 'SPECIAL_CONSIDERATIONS'], axis=1, inplace=True)
application_df.head()

                                       NAME  ... IS_SUCCESSFUL
0              BLUE KNIGHTS MOTORCYCLE CLUB  ...             1
1    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...             1
2        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...             0
3            SOUTHSIDE ATHLETIC ASSOCIATION  ...             1
4  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...             1

[5 rows x 9 columns]

In [5]:
# display the number of unique values for all columns:
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [6]:
# Look at NAME value counts for binning:
name_counts = application_df['NAME'].value_counts()

#  How many name counts are greater than 5?
name_counts[name_counts > 5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [7]:
# Determine which values to replace if counts are less than or equal to 5:
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe:
for name in names_to_replace:
  application_df['NAME'] = application_df['NAME'].replace(name, "OTHER")
    
# Check to make sure binning was successful:
application_df['NAME'].value_counts()

OTHER                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning:
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Determine which values to replace if application counts are less than 500:
app_types_to_replace = list(app_type_counts[app_type_counts < 500].index)

# Replace in dataframe:
for app_type in app_types_to_replace:
  application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app_type, "OTHER")

# Check to make sure binning was successful:
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
OTHER      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning:
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# Determine which values to replace if counts are less than 1000:
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe:
for classification in classifications_to_replace:
  application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classification, "OTHER")

# Check to make sure binning was successful:
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
OTHER     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Generate our categorical variable lists:
categorical_variables = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
categorical_variables

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [13]:
# perform one-hot encoding on the data:
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df.head()

   ASK_AMT  IS_SUCCESSFUL  ...  INCOME_AMT_50M+  INCOME_AMT_5M-10M
0     5000              1  ...                0                  0
1   108590              1  ...                0                  0
2     5000              0  ...                0                  0
3     6692              1  ...                0                  0
4   142590              1  ...                0                  0

[5 rows x 396 columns]

In [14]:
# Split our preprocessed data into our features and target arrays:
X = application_with_dummies_df.drop(['IS_SUCCESSFUL'], axis=1).values
y = application_with_dummies_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [15]:
# Create a StandardScaler instances:
scaler = StandardScaler()

# Fit the StandardScaler:
X_scaler = scaler.fit(X_train)

# Scale the data:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Define the model - deep neural net:
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer:
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer:
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer:
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer:
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model:
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               39600

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 42,951
Trainable params: 42,951
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model:
nn_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.4966 - accuracy: 0.7716
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4448 - accuracy: 0.7928
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4368 - accuracy: 0.7931
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4319 - accuracy: 0.7957
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4298 - accuracy: 0.7951
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7957
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4260 - accuracy: 0.7959
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4248 - accuracy: 0.7988
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4240 - accuracy: 0.7973
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4228 - accuracy: 0.7984
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4219 - accuracy: 0.7983
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4208 - accuracy: 0.7986
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4196 - accuracy: 0.7994
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4197 - accuracy: 0.7997
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.8000
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7998
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.8015
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4173 - accuracy: 0.7999
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.8010
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.8010
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4160 - accuracy: 0.8005
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4154 - accuracy: 0.8014
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4153 - accuracy: 0.8021
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4145 - accuracy: 0.8013
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4143 - accuracy: 0.8017
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4137 - accuracy: 0.8018
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4133 - accuracy: 0.8020
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4132 - accuracy: 0.8022
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4125 - accuracy: 0.8020
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4125 - accuracy: 0.8023
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4121 - accuracy: 0.8024
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4118 - accuracy: 0.8025
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4119 - accuracy: 0.8012
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4110 - accuracy: 0.8022
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4107 - accuracy: 0.8026
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4103 - accuracy: 0.8030
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4102 - accuracy: 0.8025
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4097 - accuracy: 0.8033
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4093 - accuracy: 0.8043
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4093 - accuracy: 0.8034
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4092 - accuracy: 0.8037
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4090 - accuracy: 0.8037
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4089 - accuracy: 0.8037
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4087 - accuracy: 0.8040
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4086 - accuracy: 0.8040
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4084 - accuracy: 0.8043
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4079 - accuracy: 0.8036
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4077 - accuracy: 0.8042
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4072 - accuracy: 0.8048
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4070 - accuracy: 0.8050
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4070 - accuracy: 0.8050
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4067 - accuracy: 0.8049
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4067 - accuracy: 0.8049
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4067 - accuracy: 0.8050
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4064 - accuracy: 0.8046
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4064 - accuracy: 0.8041
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4064 - accuracy: 0.8057
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4062 - accuracy: 0.8051
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4054 - accuracy: 0.8056
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4057 - accuracy: 0.8057
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8059
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4055 - accuracy: 0.8057
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4048 - accuracy: 0.8058
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8057
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4048 - accuracy: 0.8059
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4048 - accuracy: 0.8061
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4048 - accuracy: 0.8056
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8056
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4047 - accuracy: 0.8063
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4046 - accuracy: 0.8056
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4050 - accuracy: 0.8055
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4045 - accuracy: 0.8059
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8057
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4044 - accuracy: 0.8055
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8064
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4041 - accuracy: 0.8058
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4042 - accuracy: 0.8062
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4045 - accuracy: 0.8056
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4036 - accuracy: 0.8068
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4051 - accuracy: 0.8058
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4038 - accuracy: 0.8062
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8066
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4038 - accuracy: 0.8053
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4036 - accuracy: 0.8065
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8068
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4036 - accuracy: 0.8065
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4039 - accuracy: 0.8065
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8061
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8066
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4038 - accuracy: 0.8060
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8064
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4039 - accuracy: 0.8064
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4039 - accuracy: 0.8064
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4044 - accuracy: 0.8070
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4042 - accuracy: 0.8075
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8072
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4031 - accuracy: 0.8071
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8069
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8070
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4033 - accuracy: 0.8062

In [23]:
# Evaluate the model using the test data:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {100*model_loss:.1f}%, Accuracy: {100*model_accuracy:.1f}%")

268/268 - 0s - loss: 0.4476 - accuracy: 0.7943 - 347ms/epoch - 1ms/step
Loss: 44.8%, Accuracy: 79.4%

In [20]:
# Export our model to HDF5 file:
nn.save("AlphabetSoupCharity_Optimization.h5")

USE A RANDOM FOREST CLASSIFIER ON THE DATASET

In [21]:
# Import Random Forest Classifier:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [22]:
# Create a random forest classifier:
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fit the model:
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model:
y_pred = rf_model.predict(X_test_scaled)
print(f"Random Forest Model Accuracy: {accuracy_score(y_test, y_pred):.3f}")

Random Forest Model Accuracy: 0.779